<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="/">David Sasser</a>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="/#about" role="button">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/#jobs" role="button">Experience</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/#projects" role="button">Work</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/#contact" role="button">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link resume" href="/resume.pdf" role="button">Resume</a>
    </li>
  </ul>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

     <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <a class="nav-link" href="/#about" role="button">About</a>
        <a class="nav-link" href="/#jobs" role="button">Experience</a>
        <a class="nav-link" href="/#projects" role="button">Work</a>
        <a class="nav-link" href="/#contact" role="button">Contact</a>
        <a class="nav-link resume" href="/resume.pdf" role="button">Resume</a>
    </div>
  </div>

    <div style="display:none;">
      <label for="toggle">&#9776;</label>
      <input type="checkbox" id="toggle" />
      <div class="menu">
        <a class="nav-link" href="/#about" role="button">About</a>
        <a class="nav-link" href="/#jobs" role="button">Experience</a>
        <a class="nav-link" href="/#projects" role="button">Work</a>
        <a class="nav-link" href="/#contact" role="button">Contact</a>
        <a class="nav-link resume" href="/resume.pdf" role="button">Resume</a>
      </div>
  </div>
</nav>