{{> header }}

<div class="container">
    <div class="about-sect">
        <p>Hello, I am David, a software engineer.</p>
        <p>I enjoy solving problems, and I love to learn. I try to learn new things every single day. Currently, I am
            looking for a job. I have experience as a full-stack engineer,
            but I have a high interest in machine learning.
        </p>
        <p>Lately, I have been participating in Kaggle competitions to improve my skills as a machine learning engineer.
            I
            have mostly worked in and read research about computer vision, but I would like to continue into more areas
            of
            machine learning.</p>
        <p>Here are a few technologies I have been using lately:</p>
        <ul class="skills">
            <li class="skill">Python</li>
            <li class="skill">Tensorflow</li>
            <li class="skill">NumPy</li>
            <li class="skill">scikit-learn</li>
            <li class="skill">Node.js</li>
            <li class="skill">PostgreSQL</li>
            <li class="skill">JavaScript</li>
            <li class="skill">HTML &amp; CSS</li>
        </ul>
    </div>
</div>

{{> footer }}